.Carrito{
    background-color: rgb(82, 5, 82);
    color: white;
    margin-bottom: 2%;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 10% ;
    width: 80px;
    height: 100px;
}
.Icon{
    margin: 1%;
}