.item-detail{
    display: flex;
    margin: 2%;
    width: 80%;
    height: auto;
    margin-right: 10%;
    margin-left: 10%;
    border-style: solid;
    border-color: rgb(11, 201, 201);
    border-width: 3px;
    color :antiquewhite;
}

.titulo-detail{
    margin-left: 40%;
}

.foto{
    width: 250px;
    height: 350px;
    margin: 5%;
    padding: 5%;
}

.kilos-item-detail{
    margin: 4%;
    padding: 5%;
    font-size: 15px;
}

.informacion{
    font-size: 15px;
    margin: 2%;

}

.precio-item-detail{
    color: rgb(206, 155, 14);
    margin-left: 80%;
}

.ruta-carrito{
    display: flex;
    justify-content: flex-end;
    margin: 4%;
}