.item-detail{
    display: flex;
    margin: 2%;
    width: 70%;
    height: auto;
    margin-right: 15%;
    margin-left: 15%;
    border-style: solid;
    border-color: rgb(8, 194, 8);
    border-width: 3px;
    color :antiquewhite;
}

.Titulo-detail{
    margin-left: 45%;
}

.foto{
    width: 120px;
    height: 190px;
    margin: 5%;
    padding: 5%;
}

.kilos-item-detail{
    margin: 4%;
    padding: 5%;
    font-size: 15px;
}

.informacion{
    font-size: 15px;
    margin: 2%;

}

.precio-item-detail{
    color: rgb(206, 155, 14);
    margin-left: 80%;
}

