.item-container{
    font-size: 30px;
    width: 70%;
    height: auto;
    margin: 1%;
    margin-right: 15%;
    margin-left: 15%;
}

.item-detail{
    display: flex;
    margin: 2%;
}

.foto{
    width: 120px;
    height: 190px;
    margin: 5%;
    padding: 5%;
}

.kilos-item-detail{
    margin: 4%;
    padding: 4%;
    font-size: 15px;
}

.informacion{
    font-size: 15px;
    margin: 2%;

}

.precio-item-detail{
    color: rgb(206, 155, 14);
    margin-left: 80%;
}