.container{
    background-color: black;
    width: 0;
}

.App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start  !important;
    font-size: 20px;
    color: white;
}