.App-header {
    background-color: rgb(5 36 41) !important;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    min-height: 0;
}

.container {
    background-color: rgb(4 122 141);
}

#brand{
    color: white;
    text-decoration: none;
}

.navbar-expand .navbar-nav .dropdown-menu {
    position: absolute;
    background-color:  rgb(5 36 41);
    color: white;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: #eef7ff;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.contador-carrito{
    font-size: 15px;
    background-color: rgb(10, 228, 210);
    padding: 5px;
    color:  rgb(5 36 41)!important;
    text-decoration: none!important;
    
}

a{
    color: #d4dae3;
}