.App-header {
    background-color: rgb(5 36 41) !important;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    min-height: 0;
}

.container {
    background-color: rgb(4 122 141);
}

#brand{
    color: white;
    text-decoration: none;
}
