.ItemCount{
    background-color: purple;
    color: white;
    margin-left: 8%;
    margin-right: 8%;
}

.bttn{
    background-color: #0b5ed7;
    color: white;
    margin: 1%;
    border-radius: 8%;
    border: #0b5ed7;
    padding-left: 2%;
    padding-right: 2%;
}